  {{>head}}
<body>
    <header>
    <div class="container_for_Header">
        <div class="logoTemplate">
            <div class="logo">
                <img src='logo.png' alt="">
            </div>
        </div>
        <div class="linksHeaderTemplate">
            <a href="/">Main</a>
            <a href="/blog">Blog</a>
            <a href="/AddInfo">Additional Information</a>
            <a href="/myShop">Shop</a>
            <a href="/myBasket"> Basket</a>
        </div>
    </div>
</header>
    <div class="container">
        {{{ body }}}
    </div>
    