


<form action='/AddItem' method='POST'>
      <div class="row">
        <div class="input-field col s12">
          <label for="title">Title</label>
          <textarea id="title" class="materialize-textarea" name='title' type='text'></textarea>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <label for="price">Price</label>
          <textarea id="price" class="materialize-textarea" name='price' type='number'></textarea>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <label for="img">Image</label> 
          <textarea id="img" class="materialize-textarea" name='img' type='text'></textarea>
        </div>
    </div>
    <button type="submit" class='btn'>Add Item</button>
</form>
