
body {
    margin: 0 0 0 0;
    font-family: 'PT Sans', sans-serif;
}
.titleOfPage {
    margin-top: 30px;
    color: #121e8d;;
    font-size: 60px;
    font-weight: 900;
}
.logoTemplate{ 
    padding-left:50px;
}
header .container_for_Header{
    height: 150px; 
    background-color: #bcf7ed;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;

} 
.linksHeaderTemplate a{
    font-size: 25px;
    text-decoration: none;
    font-weight: 700;
    /* font-style: italic; */
    color:#121e8d;
    padding: 0 15px 0 15px
}
a:hover {
    color: #5767f8
}
.linksHeaderTemplate {
    padding-top: 20px;
}
.logo img{ 
    height: 125px;
    width: 150px;
    padding-top: 7px;
}
.question {
    font-size: 35px;
}
.blogContainer {
    display:flex;
    justify-content: center;
    flex-direction:column;
}
.flexTemplate {
    margin-top:100px;
    display:flex;
    align-items: center;
    gap:20px;
    
}
.namePrd, .price {
    display:flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;

}
.imgItem {
    height: 175px;
    width: 250px;
}
.itemTemp {
    height: 40px;
    width: 250px;
    /* border: 1px solid black; */
    background-color: #bcf7ed;   
}
.countTemp {
    background-color: #bcf7ed;
    width: 250px;
    font-weight: 400;
    display:flex;
    justify-content: center;
    border-top: 3px solid #55f1bd70
}

.btnSpc {
    width:250px;
    height: 50px;
    background-color: #1c2aec;
    color:bisque;
    font-size: 30px;
}
.btnSpc:focus {
    background-color: #1c2aec;
}
.rowItem {
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
} 
.hidden {
    display:none;
}
.flexTemplateBasket {
    display:flex;
    gap:30px;
    
}
.bsk {
    width: 250px;
}


